#gnb {
  flex-basis: 20%;
  height: 100%;
  padding:20px;
  box-sizing: border-box;
  h1 {
    width: 100%;
    margin-bottom: 30px;
  }
  
  ul {
    li {
      .isActive {
        color: hotpink;
        font-weight:bold;
      }
    }
  }
}